/*******************************************************************************
 * ****** UTN FRBA - TACS 1C 2011 ******** ML4FB - GRUPO N1 ********
 ******************************************************************************/
/*div{
	border: 1px solid red;
}*/

body { 
	background-color: #222;
	color: #ABA;
	font:14px/25px Verdana, Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

li span {
cursor: pointer;
}

li span:hover {
text-decoration: underline;
}

#logoCargando {
	background-color: #222;
	display: none;
	position: fixed;
	top: 10px;
	left: 400px;
	margin: 0px auto;
}

#divisionIzquierda{
	float:left;
	width: 500px;
	overflow: visible;
}

li span.linkMostrar{
	font-size: 10px;
	margin-left: 10px;
}

/*******************************************
Seccion de busquedas
********************************************/

#divisionDerecha {
	float:left;
	width: 500px;
	color: #8AA;
}

ul#listaBusqueda{
	list-style: none;
}

ul#listaBusqueda li{
	clear:both;
	border-top: 1px solid #AAA;
	padding-top: 10px;
}
ul#listaBusqueda li:first-child{
	border: 0px;
} 

ul#listaBusqueda li img{
	float: left;
	padding: 5px;
}

.btn {
	background-repeat: repeat-x;
	background-color:#444;
	border: 1px solid #FFCC00; 
	cursor:pointer;
	overflow: visible;
	padding: 3px 15px;
	color:#FFF;
	font-family: inherit;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
	background-position:0 0px;
	font-size: 12px;
	height: 29px;
	line-height:20px;
	font-weight: bold;
}

.input{
	border: 1px solid #FFCC00; 
	padding:5px;
	margin:5px 0;
	color:#fff;
	background-color:#444;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}